.main-content {
    display: flex;
    flex: 1;
    background-color: #fff;
    justify-content: space-between;
    overflow: hidden; /* Prevent content overflow */
}

.right-container {
    height: 100%;
    width: 87%;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.main-container {
    display: flex;
    flex-direction: row;
}
body {
    margin: 0;
    padding: 0;
} 

.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
table{            
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 0.01rem solid#000;
}
th{
   background-color: #DDEBE6;
   border-bottom: 0.01rem solid #000; 
   padding-left: 1rem;
   text-align: left;
}
td{
    border:0.0rem solid #000;
    padding: 10px;
}
h4 {
font-weight: normal; /* or use font-weight: 400; */
}

h3{
    margin: 0rem;
}


.infotable{
    margin-top: 2rem;
}
.subhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addbutton {
    margin-left: auto;
}
.table-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event-name {
    flex: 1; /* Take up remaining space */
}

.button-container {
    display: flex;
    gap: 2px; /* Adjust as needed */
}
.button-container img {
    width: 36px; /* Set the desired width */
    height: 36px; /* Set the desired height */
}
        /* Add your CSS styles here */
        .modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 87%; /* Set the same width as the right container */
            height: 100%; /* Set the same height as the right container */
            background-color: rgba(255, 255, 255, 0.95); /* Adjust background color and opacity */
            padding: 20px;
            overflow: auto;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: none; /* Hide the modal by default */
            z-index: 1; /* Ensure the modal is on top of other elements */
            margin-left: auto; /* Center the modal horizontally */
            margin-right: auto; /* Center the modal horizontally */
        }
        
        @media (min-width: 768px) {
            .modal {
                width: 60%; /* Adjust width for larger screens if needed */
            }
        }

    /* .form-title ,.form-desc .form-link,.form-date {
        margin-bottom: 10px;
    }

    .form-title label,.form-title input,.form-desc label,.form-desc textarea,.form-link label,.form-link input,.form-date label,.form-date input{
        display: block;
        width: 100%;
    } */