.contentcontainer{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.carboncontainer{
    width: 100%;
}

.contentbox{
    border: 1px solid black;
    display: grid;
    row-gap: 20px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.subcontentcontainer{
    width: 100%;
    display: grid;
    row-gap: 10px;
}

.body-container{
    display: block;
    padding: 1rem;
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.main-content-container{
    display: flex;
    justify-content: center;
    width: 100%;
}